.App-header {
  background-color: #24305e;
  color: #f76c51;
  font-family: 'Source Code Pro', monospace;
  font-size: small;
  letter-spacing: .2em;
}

.Experience {
  background-color: #f76c6c;
  font-family: 'Source Code Pro', monospace;
}

.Content {
  margin-top: 2em;
}

.body-color:last-child {
  background-color: #A8D0E6;
  font-family: 'Karla', sans-serif;
  font-size: small;
}

.header-color:first-child {
  background-color: #F8E9A1;
  font-family: 'Rokkitt', serif;
  font-size: medium;
}

.body-color {
  background-color: #A8D0E6;
  font-family: 'Karla', sans-serif;
  font-size: small;
}

.header-color {
  background-color: #F8E9A1;
  font-family: 'Rokkitt', serif;
  font-size: medium;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.exp-img {
  height: 50%;
}

hr {
  background-color: #f76c6c;
}

#information {
  font-weight: normal;
  text-transform: none;
  color: #b5b5b7;

}

.language {
  max-height: 40px;
}